# Count real C++ source as C++
*.cpp linguist-language=C++
*.cc  linguist-language=C++
*.cxx linguist-language=C++
*.hpp linguist-language=C++
*.hh  linguist-language=C++
*.h   linguist-language=C++

third_party/my_cpp_lib/** -linguist-vendored
generated_but_keep/**     -linguist-generated

some/path/*.m linguist-language=C++