# Count C++ files anywhere in the repo
*.cpp linguist-language=C++
*.cc  linguist-language=C++
*.cxx linguist-language=C++
*.hpp linguist-language=C++
*.hh  linguist-language=C++
*.h   linguist-language=C++

# Exclude Mathematica notebook directory from language stats
MathematicaNotebooks/** linguist-vendored
*nb.zip linguist-vendored
*.np linguist-vendored
*.mx linguist-vendored
